* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(253, 154, 209);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Dancing Script", serif;
  transition: ease-in-out 0.3s;
  height: 100vh;

  /* background-color: rgb(255, 172, 218);  for the other giph */
}
.body-change {
  background-color: rgb(255, 203, 255);
}
.body-change-2 {
  background-color: rgb(252, 171, 228);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
  width: 90%;
  /* background-color: firebrick; */
}
.yes-or-no {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.yes {
  color: white;
  background-color: green;
  border: none;
  border-radius: 8px;
  padding: 10px 50px;
  font-size: 20px;
  box-shadow: 02px 10px 10px black;
}
.yes:active {
  box-shadow: 0 2px 10px black;
  transform: translateY(3px);
}

.no {
  color: white;
  background-color: rgb(128, 0, 0);
  border: none;
  border-radius: 8px;
  padding: 10px 50px;
  font-size: 20px;
  box-shadow: 2px 10px 10px black;
}
.no-absolute {
  position: absolute;
}
.no-hide {
  display: none;
}
.no:active {
  box-shadow: 0 5px 10px black;
  transform: translateY(3px);
}
#giphs {
  transition: ease-in-out 3s;
}
.yes-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  width: 100%;
}
